{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron text-center ">
            <h1 style="font-weight: bolder;font-size: 40px">Formulaire de gestion des états des produits :</h1>
            <p>Ici vous pouvez ajouter des nouveaux états, modifier ou supprimer les existants</p>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6" style="left: 80px">
                {{ form_start(form) }}
                <div class="row col-md-5" >
                    {{ form_row(form.nom) }}
                    {{ form_row(form.valeur) }}
                    {{ form_widget(form) }}
                    <div class="mt-2">
                        <button class="btn btn-success"style="border-radius: 10px; right: 5px"><span style="font-weight: bold">Ajouter</span></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <table style="width: 600px; height: 10px" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <!--<th>Synonyme</th>-->
                        </tr>
                    </thead>
                    <tbody>
                         {% for etat in etats %}
                         <tr >
                            <td>{{ etat.nom }}</td>
                            <td >
                                <a href="{{ path('etat.edit',{id: etat.id}) }}" class="btn btn-secondary">Modifier</a>
                                    <form method="post" action="{{ path('etat.delete', {id: etat.id }) }}" style="display: inline-block" >
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat.id) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                            </td>
                         </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
